html {
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }
  /* Enlever soulignement des liens*/
  a{
    text-decoration: none;
}
  /* Style the color of the navigation bar */
  .topnav {
    background-color: rgb(31, 44, 230);
    overflow: hidden;
  }

  #container{
    display: flex;
    flex-direction: column;;
}